/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ktrachtova/perseqpipe Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    input_samplesheet           = null  // required!
    outdir                      = null  // required!
    lib_type                    = null  // required!

    // Preprocessing parameters
    error_rate                  = 0.10
    min_overlap                 = 5
    disc_short                  = 15
    quality_filter              = 10
    adapter3_seq                = null  // general 3' end adapter, default sequence for specific lib_type is defined inside preprocessing/main.nf
    adapter3_qiaseq_seq1        = "AGATCGGAAGAGCACACGTCTGAACTCCAGTCA"  // QIAseq-specific adapter 1
    adapter3_qiaseq_seq2        = "AACTGTAGGCACCATCAAT"  // QIAseq-specific adapter 2

    // sncRNA quantification parameters
    sncrna_overlap              = 5
    sncrna_overlap_frac         = null
    reads_threshold             = 1

    // STAR genome alignment parameters
    genome_outFilterMultimapNmax           = 5000
    genome_outFilterMatchNmin              = 15
    genome_outFilterMismatchNoverReadLmax   = 0.05
    genome_outFilterMultimapScoreRange      = 0
    genome_outFilterScoreMinOverLread       = 0
    genome_outFilterMismatchNmax            = 999
    genome_alignIntronMax                   = 1
    genome_alignIntronMin                   = 2
    
    // DE de_analysis
    design_file                     = null  // optional; DE analysis will run only of design_file provided!
    sncrna_expression_threshold     = '20,3' // default; at least 20 reads in at least 3 samples
    mirna_expression_threshold      = '20,3'
    isomirs_expression_threshold    = '20,3'

    // MultiQC options
    multiqc_config              = null
    multiqc_logo                = null
    max_multiqc_email_size      = '25.MB'
    multiqc_methods_description = null

    // Boilerplate options   
    publish_dir_mode             = 'copy'
    email                        = null
    email_on_fail                = null
    plaintext_email              = false
    monochrome_logs              = false
    help                         = false
    help_full                    = false
    show_hidden                  = false
    version                      = false
    trace_report_suffix          = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')// Config options
    config_profile_name          = null
    config_profile_description   = null
    custom_config_version        = 'main'
    validate_params              = true

    // Path to local miraligner.jar (used in case pipeline is run locally without docker - not recommended!)
    miraligner_jar               = null

    // Module controls
    download_reference_rrna   = false 
    download_reference_genome = false
    run_firstqc               = false
    run_preprocessing         = false
    run_rrna                  = false
    run_mirna                 = false
    run_sncrna                = false
    run_full                  = false

    // miRNA/isomiR quantification database: 'mirbase' or 'mirgenedb'
    miraligner_db             = 'mirbase'

}

// config with default reference files
includeConfig 'conf/ref_files.config'
// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'
// config with base 
includeConfig 'conf/base.config'


profiles {
    debug {
        dumpHashes              = true
        process.beforeScript    = 'echo $HOSTNAME'
        cleanup                 = false
        nextflow.enable.configProcessNamesValidation = true
    }
    local {
        includeConfig 'conf/local.config'
    }
    docker {
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
        // Use path inside container (if JAR is built into the image)
        params.miraligner_jar = '/usr/local/bin/miraligner.jar'
    }
    apptainer {
        apptainer.enabled       = true
        apptainer.autoMounts    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        // Use path inside container (if JAR is built into the image)
        params.miraligner_jar = '/usr/local/bin/miraligner.jar'
    }
    arm {
        docker.runOptions       = '-u $(id -u):$(id -g)'
        includeConfig 'conf/arm.config'
    }

    test_trilink    { includeConfig 'conf/test_trilink.config'      }
    test_qiaseq     { includeConfig 'conf/test_qiaseq.config'       }
    test_nextflexV3 { includeConfig 'conf/test_nextflexV3.config'   }
    test_nextflexV4 { includeConfig 'conf/test_nextflexV4.config'   }
    test_nebnext    { includeConfig 'conf/test_nebnext.config'      }
    test_truseq     { includeConfig 'conf/test_truseq.config'       }
    test_lexogen    { includeConfig 'conf/test_lexogen.config'      }
    test_norgen     { includeConfig 'conf/test_norgen.config'       }
    test_novogene   { includeConfig 'conf/test_novogene.config'     }
    test_mirgenedb  { includeConfig 'conf/test_mirgenedb.config'    }
    test_synth      { includeConfig 'conf/test_synth.config'           }
}

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Set bash options
process.shell = [
    "bash",
    "-C",         // No clobber - prevent output redirection from overwriting files.
    "-e",         // Exit if a tool returns a non-zero status/exit code
    "-u",         // Treat unset variables and parameters as an error
    "-o",         // Returns the status of the last command to exit..
    "pipefail"    //   ..with a non-zero status or zero if all successfully execute
]

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false


/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    EXECUTION REPORTS / PIPELINE INFO

    Avoid creating a literal 'null/' directory when --outdir is not provided.
    - Normal runs: write to <outdir>/pipeline_info/...
    - Reference download runs without --outdir: write to ./resources/pipeline_info/...
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

timeline {
    enabled = params.outdir || params.download_reference_rrna || params.download_reference_genome
    file    = params.outdir ? "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html" : "resources/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = params.outdir || params.download_reference_rrna || params.download_reference_genome
    file    = params.outdir ? "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html" : "resources/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = params.outdir || params.download_reference_rrna || params.download_reference_genome
    file    = params.outdir ? "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt" : "resources/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = params.outdir || params.download_reference_rrna || params.download_reference_genome
    file    = params.outdir ? "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html" : "resources/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}

manifest {
    name            = 'perseqpipe'
    author          = """Karolina Trachtova""" // The author field is deprecated from Nextflow version 24.10.0, use contributors instead
    contributors    = [
        [
            name: 'Karolina Trachtova',
            affiliation: 'Central European Institue of Technology (CEITEC), Masaryk University, Czech Republic',
            email: 'trachtova@mail.muni.cz',
            github: 'https://github.com/ktrachtova/perseqpipe',
            contribution: ['author','maintainer'], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: 'https://orcid.org/0009-0006-1835-8862'
        ],
    ]
    homePage        = 'https://github.com/ktrachtova/perseqpipe'
    description     = """Pipeline for sequence-oriented quantification of small non-coding RNAs from NGS data"""
    mainScript      = 'main.nf'
    defaultBranch   = 'main'
    nextflowVersion = '!>=24.04.2'
    version         = '2.0.0'  // also hardcoded in validation.help/summary beforeText below - keep in sync
}

// Nextflow plugins
plugins {
    id 'nf-schema@2.3.0' // Validation of pipeline parameters and creation of an input channel from a sample sheet
}

validation {
    monochromeLogs = params.monochrome_logs
    help {
        enabled = true
        command = "nextflow run main.nf -profile <docker> --input_samplesheet samplesheet.csv --outdir <OUTDIR> --lib_type <LIB_TYPE> --run_full"
        fullParameter = "help_full"
        showHiddenParameter = "show_hidden"
        beforeText = """
-\033[2m----------------------------------------------------\033[0m-

\033[0;34m  ___  ___ __   __  ___   __   __      __   __   \033[0;32m
\033[0;34m  |__) |__ |_) (__  |__  /  \\  |_) ||  |_) |__ \033[0;32m
\033[0;34m  |    |__ | \\  __) |__  \\__\\  |   ||  |   |__   \033[0;32m

\033[0;35m  perseqpipe 2.0.0\033[0m
-\033[2m----------------------------------------------------\033[0m-
"""
        afterText = """
* Software dependencies
    https://github.com/ktrachtova/perseqpipe/blob/main/CITATIONS.md
"""
    }
    summary {
        beforeText = """
-\033[2m----------------------------------------------------\033[0m-

\033[0;34m  ___  ___ __   __  ___   __   __      __   __   \033[0;32m
\033[0;34m  |__) |__ |_) (__  |__  /  \\  |_) ||  |_) |__ \033[0;32m
\033[0;34m  |    |__ | \\  __) |__  \\__\\  |   ||  |   |__   \033[0;32m

\033[0;35m  perseqpipe 2.0.0\033[0m
-\033[2m----------------------------------------------------\033[0m-
"""
        afterText = """
* Software dependencies
    https://github.com/ktrachtova/perseqpipe/blob/main/CITATIONS.md
"""
    }
}