/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running the pipeline with ARM architecture
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines custom containers and Conda definitions required to run pipeline with ARM.

    Use as follows:
        nextflow run nf-core/rnaseq -profile <docker/singularity>,arm <OTHER_PARAMETERS>

----------------------------------------------------------------------------------------
*/

process {

    //
    // Tools that have native Conda builds for AMD and ARM
    //

    withName: 'FASTQC' {
        container = { 'community.wave.seqera.io/library/fastqc:0.12.1--df99cb252670875a' }
    }

   withName: 'MULTIQC' {
        container = { 'community.wave.seqera.io/library/multiqc:1.27.1--189d7964d76e2473' }
    }

    withName: 'PREPROCESSING_RAW_READS' {
        container = { 'community.wave.seqera.io/library/bbmap_cutadapt_fastx_toolkit_pip_gunzip:85977e349a0eebb7' }
    }

    withName: 'ISOMIRS_STATS' {
        container = { 'community.wave.seqera.io/library/bioconductor-isomirs_r-dplyr_r-rio:300ab48b678f85ec' }
    }

    withName: 'ALIGNMENT_STATS' {
        container = { 'community.wave.seqera.io/library/samtools:1.21--9d93a0b400df66ec' }
    }

    withName: 'STAR_RRNA' {
        container = { 'community.wave.seqera.io/library/star:2.7.11b--adccb46d6f2a92e3' }
    }

    withName: 'STAR_GENOME' {
      container = { 'community.wave.seqera.io/library/star:2.7.11b--adccb46d6f2a92e3' }
    }

    withName: 'SAMTOOLS_INDEX' {
        container = { 'community.wave.seqera.io/library/samtools:1.21--9d93a0b400df66ec' }
    }

    withName: 'STAR_GENOMEGENERATE' {
      container = { 'community.wave.seqera.io/library/star:2.7.11b--adccb46d6f2a92e3' }
    }

    withName: 'CALCULATE_ALL_STATS' {
      container = { 'community.wave.seqera.io/library/pandas:2.2.1--a303c9798c6b4a6f' }
    }

    withName: 'MIRALIGNER_MIRNA' {
        container = { 'ktrachtok/mirna_quantification:arm64-1.0.0' }
    }

    withName: 'QUANTIFICATION_SNCRNA' {
        container = { 'community.wave.seqera.io/library/htseq_pandas:de71f850a1d372bf' }
    }

    withName: 'DESEQ2_MIRNA_ANALYSIS' {
        container = { 'community.wave.seqera.io/library/bioconductor-deseq2_bioconductor-edger_r-dplyr:2cd0c889f28bd264' }
    }

    withName: 'DESEQ2_SRNA_ANALYSIS' {
        container = { 'community.wave.seqera.io/library/bioconductor-deseq2_bioconductor-edger_r-dplyr:2cd0c889f28bd264' }
    }

}

