/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ktrachtova/PerSeqPIPE Nextflow base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default resource configuration appropriate for general-purpose workstations
    and high-performance computing environments.

    Resource values are defined per process. On systems with additional resources,
    Nextflow can execute multiple independent sample-level processes in parallel.
----------------------------------------------------------------------------------------
*/

process {

    cpus   = { 1    * task.attempt }
    memory = { 6.GB * task.attempt }
    time   = { 4.h  * task.attempt }

    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'

    // Process-specific resource requirements
    //
    // Resource requests increase on retry through task.attempt.
    //
    // See:
    // https://www.nextflow.io/docs/latest/config.html#config-process-selectors

    withLabel:process_single {
        cpus   = 1
        memory = { 2.GB * task.attempt }
        time   = { 2.h * task.attempt }
    }

    withLabel:process_low {
        cpus   = 2
        memory = { 4.GB * task.attempt }
        time   = { 4.h * task.attempt }
    }

    withLabel:process_medium {
        cpus   = 4
        memory = { 6.GB * task.attempt }
        time   = { 6.h * task.attempt }
    }

    withLabel:process_high {
        cpus   = 6
        memory = { 8.GB * task.attempt }
        time   = { 8.h * task.attempt }
    }

    withLabel:process_high_memory {
        cpus   = 4
        memory = { 16.GB * task.attempt }
        time   = { 8.h * task.attempt }
    }

    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }

    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }
}