params {
    // Input / output options
    //input_samplesheet          = '/Users/kaja/Public/nextflow/test_data/qiaseq_novotny/samplesheet_full.csv'
    //input_samplesheet           = '/Users/kaja/Public/nextflow/test_data/trilink_GSE262424/samplesheet_full.csv'
    //input_samplesheet            = '/Users/kaja/Public/nextflow/test_data/trilink_GSE262424/samplesheet_DE.csv'
    input_samplesheet           = '/Users/kaja/Public/test_data_local/GSE262424_trilink/samplesheet_full.csv'
    //input_samplesheet           = '/Users/kaja/Public/nextflow/test_data/trilink_GSE262424_dummy/samplesheet_full.csv'

    outdir                      = '/Users/kaja/Public/nextflow_results/docker_trilink_GSE262424_full_new'

    design_file                     = '/Users/kaja/Public/test_data_local/GSE262424_trilink/design_full.txt'
}