/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: '.*:FIRSTQC:FASTQC' {
        ext.args = '--quite'
        ext.use_meta_id = true     // raw: name outputs by meta.id
        publishDir = [
            path: { "${params.outdir}/first_qc/" },
            saveAs: { filename -> 
                filename.endsWith('.counts.txt') ? "stats/${filename}" :
                filename.endsWith('_fastqc.html') ? "fastqc/${filename}" :
                filename.endsWith('_fastqc.zip') ? "fastqc/${filename}" :
                filename.equals('versions.yml') ? "fastqc/${filename}" :
                filename
            },
            mode: params.publish_dir_mode
        ]
    }    

    withName: '.*:FIRSTQC:MULTIQC' {
        publishDir = [
            path: { "${params.outdir}/first_qc/multiqc" },
            mode: params.publish_dir_mode
            // saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:PREPROCESSING:FASTQC' {
        ext.args = '--quite'
        ext.use_meta_id = false    // intermediates: name outputs by FASTQ basename
        publishDir = [
            path: { "${params.outdir}/preprocessing/" },
            saveAs: { filename -> 
                filename.endsWith('.counts.txt') ? "stats/${filename}" :
                filename.endsWith('_fastqc.html') ? "fastqc/${filename}" :
                filename.endsWith('_fastqc.zip') ? "fastqc/${filename}" :
                filename.equals('versions.yml') ? "fastqc/${filename}" :
                filename
            },
            mode: params.publish_dir_mode
        ]
    }

    withName: '.*:PREPROCESSING:MULTIQC' {
        publishDir = [
            path: { "${params.outdir}/preprocessing/multiqc" },
            mode: params.publish_dir_mode
            // saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]   
    }

    withName: '.*:RRNA_QUANTIFICATION:STAR_RRNA' {
        publishDir = [
            path: { "${params.outdir}/rna_quantification/rrna/star_rrna" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]   
    }

    withName: '.*:RRNA_QUANTIFICATION:ALIGNMENT_STATS' {
        publishDir = [
            path: { "${params.outdir}/rna_quantification/rrna/stats" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]   
    }

    withName: '.*:MIRNA_QUANTIFICATION:MIRALIGNER_MIRNA' {
        publishDir = [
            path: { "${params.outdir}/rna_quantification/mirna/" },
            saveAs: { filename -> 
                filename.endsWith('.counts.txt') ? "stats/${filename}" :
                filename.endsWith('.mirna.unmapped.fastq.gz') ? "miraligner_mirna/${filename}" :
                filename.endsWith('.mirna') ? "miraligner_mirna/${filename}" :
                filename
            },
            mode: params.publish_dir_mode
        ]
    }

    withName: '.*:MIRNA_QUANTIFICATION:ISOMIRS_STATS' {
        publishDir = [
            path: { "${params.outdir}/rna_quantification/mirna" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]   
    }

    withName: '.*:SNCRNA_QUANTIFICATION:STAR_GENOME' {
        publishDir = [
            path: { "${params.outdir}/rna_quantification/genome/star_genome" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]   
    }

    withName: '.*:SNCRNA_QUANTIFICATION:SAMTOOLS_INDEX' {
        publishDir = [
            path: { "${params.outdir}/rna_quantification/genome/star_genome" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]   
    }

    withName: '.*:SNCRNA_QUANTIFICATION:QUANTIFICATION_SNCRNA' {
        publishDir = [
            path: { "${params.outdir}/rna_quantification/genome/counts" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]   
    }

    withName: '.*:SNCRNA_QUANTIFICATION:ALIGNMENT_STATS' {
        publishDir = [
            path: { "${params.outdir}/rna_quantification/genome/stats" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]   
    }

    withName: '.*:CALCULATE_ALL_STATS' {
        publishDir = [
            path: { "${params.outdir}/all_stats" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]   
    }

    withName: '.*:DE_ANALYSIS:DESEQ2_MIRNA_ANALYSIS' {
        publishDir = [
            path: { "${params.outdir}/de_analysis/mirna_isomirs" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:DE_ANALYSIS:DESEQ2_SRNA_ANALYSIS' {
        publishDir = [
            path: { "${params.outdir}/de_analysis/sncrna" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }


}
