
/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    perseqpipe Nextflow REF_FILES config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file to define default reference files for quantification modules.

    Usage: Used by default (loaded in nextflow.config)!
----------------------------------------------------------------------------------------
*/

params {
    // rRNA
    index_rrna_url              = 'https://zenodo.org/records/15590149/files/star_rrna_v1.tar.gz'
    index_rrna_path             = './resources/star_rrna'

    // miRNA
    miraligner_db_url           = 'https://zenodo.org/records/17169573/files/miraligner_DB_v22.tar.gz?download=1'

    // genome quantification
    index_genome_url            = 'https://zenodo.org/records/15846159/files/star_genome_v1.tar.gz'
    index_genome_path           = './resources/star_genome'
    sncrna_gtf_url              = 'https://zenodo.org/records/17700979/files/perseqpipe_all_sncrna_v1.1.gtf.gz'
    sncrna_gtf_path             = './resources/perseqpipe_all_sncrna_v1.1.gtf'
   
    // mirna overlap static file
    mirna_overlap_url           = 'https://osf.io/j4gk6/download'
    mirna_overlap_path          = './resources/mirna_sncrna_overlap_v1.1.tsv'
}