/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests on NEBNext dataset
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run main.nf -profile test_nebnext,<docker/conda> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile NEBNext'
    config_profile_description = 'Minimal test dataset to check pipeline function for NEBNext dataset'

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input_samplesheet  = 'https://gitlab.com/Trachtova/test_data/raw/6fb79ef7e82d6fce06c81d2441fb13312de23e32/perseqrna/nebnext/samplesheet.csv'
    lib_type = 'nebnext'

    error_rate                 = 0.10
    min_overlap                = 5
    disc_short                 = 15
    num_adapt_to_remove        = 1

    // rRNA quantification
    rrna_fasta_file = '/Users/kaja/Public/nextflow/smallrna-seq_nextflow/reference_preparation/reference_files/rRNA/2024_12_30/rRNA_db_custom.fa'
    index_rrna_path = '/Users/kaja/Public/nextflow_results/reference/star_rrna'
 
    // miRNA quantification
    miraligner_db = '/Users/kaja/Public/nextflow/test_data/reference/miraligner_DB_v22'

    // genome quantification
    genome_fasta_file = '/Users/kaja/Public/nextflow/test_data/reference/GRCh38.primary_assembly.genome.fa'

    outdir                       = '/Users/kaja/Public/nextflow_tests/nebnext'
    publish_dir_mode             = 'copy'
}