/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests on QIAseq dataset
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run main.nf -profile test_qiaseq,<docker/conda> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile QIAseq'
    config_profile_description = 'Minimal test dataset to check pipeline function for QIAseq libraries'

    input_samplesheet  = 'https://raw.githubusercontent.com/ktrachtova/test_data/refs/heads/add_samplesheets/perseqpipe/qiaseq/samplesheet.csv'
    lib_type = 'qiaseq'

    error_rate                 = 0.10
    min_overlap                = 5
    disc_short                 = 15
    num_adapt_to_remove        = 1
    adapter3_qiaseq_seq1       = "AGATCGGAAGAGCACACGTCTGAACTCCAGTCA"
    adapter3_qiaseq_seq2       = "AACTGTAGGCACCATCAAT"

    outdir                       = '/Users/kaja/Public/nextflow_tests/qiaseq'
    publish_dir_mode             = 'copy'

    run_genome                 = true
}