/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests on NEBNext dataset
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run main.nf -profile test_nebnext,<docker/conda> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile NEBNext'
    config_profile_description = 'Minimal test dataset to check pipeline function for NEBNext libraries'

    input_samplesheet  = 'https://raw.githubusercontent.com/ktrachtova/test_data/refs/heads/add_samplesheets/perseqpipe/nebnext/samplesheet.csv'
    lib_type = 'nebnext'

    error_rate                 = 0.10
    min_overlap                = 5
    disc_short                 = 15
    num_adapt_to_remove        = 1

    outdir                     = '/Users/kaja/Public/nextflow_tests/nebnext'
    publish_dir_mode           = 'copy'

    run_genome                 = true
}