/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests on TruSeq dataset
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run main.nf -profile test_truseq,<docker/conda> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile TruSeq'
    config_profile_description = 'Minimal test dataset to check pipeline function for TruSeq libraries'

    input_samplesheet  = 'https://raw.githubusercontent.com/ktrachtova/test_data/refs/heads/add_samplesheets/perseqpipe/truseq/samplesheet.csv'
    lib_type = 'truseq'

    error_rate                 = 0.10
    min_overlap                = 5
    disc_short                 = 15
    quality_filter             = 10

    outdir                       = '/Users/kaja/Public/nextflow_tests/truseq'
    publish_dir_mode             = 'copy'

    run_sncrna                 = true
}