/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ktrachtova/PerSeqPIPE Nextflow config file for running minimal tests on Lexogen dataset
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run main.nf -profile test_lexogen,<docker> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile Lexogen'
    config_profile_description = 'Minimal test dataset to check pipeline function for Lexogen libraries'

    input_samplesheet          = 'https://raw.githubusercontent.com/ktrachtova/test_data/refs/heads/main/perseqpipe/lexogen/samplesheet.csv'
    lib_type                   = 'lexogen'

    error_rate                 = 0.10
    min_overlap                = 5
    disc_short                 = 15
    quality_filter             = 10
    adapter3_seq               = 'TGGAATTCTCGGGTGCCAAGG'

    sncrna_overlap             = 5
    sncrna_overlap_frac        = null

    outdir                     = null
    publish_dir_mode           = 'copy'

    run_sncrna                 = true
}