/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full PerSeqPIPE pipeline test
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run main.nf -profile test,<docker/conda> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile for full pipeline'
    config_profile_description = 'Minimal test dataset to check full pipeline with all modules'

    input_samplesheet  = 'https://raw.githubusercontent.com/ktrachtova/test_data/f223da56d911ae2b871d18ffeefbe5ca96f8ce06/perseqpipe/full_test/samplesheet.csv'
    lib_type = 'trilink'

    design_file = 'https://raw.githubusercontent.com/ktrachtova/test_data/f223da56d911ae2b871d18ffeefbe5ca96f8ce06/perseqpipe/full_test/design.txt'

    error_rate                 = 0.10
    min_overlap                = 5
    disc_short                 = 15
    quality_filter             = 10

    outdir                       = '/Users/kaja/Public/nextflow_tests/full_test'
    publish_dir_mode             = 'copy'

    run_full                 = true
}